In [ ]:
my_dict = {0: 10, 1: 5, 2: 7, 3: 3}


sorted_asc = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Ascending:", sorted_asc)

sorted_desc = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print("Descending:", sorted_desc)

Ascending: {3: 3, 1: 5, 2: 7, 0: 10}
Descending: {0: 10, 2: 7, 1: 5, 3: 3}

In [ ]:
a={0: 10, 1: 20}
a.update({2:30})

In [9]:
print(a)

{0: 10, 1: 20, 2: 30}

In [2]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result = {}
result.update(dic1)
result.update(dic2)
result.update(dic3)

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
n=int(input('Enter a number !'))
l={}
for x in range(1,n+1):
    l.update({x:x**2})
print(l)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

In [8]:
set1={1,2,3,4,5,1}
type(set1)

set

In [9]:
print(set1)

{1, 2, 3, 4, 5}

In [32]:
my_set = {"apple", "banana", "cherry", "date"}
print('Mevalar To\'plami')
for i in my_set:
    print(i)

Mevalar To'plami
date
banana
cherry
apple

In [16]:
for i, fruit in enumerate(my_set):
    print(f"{i}-{fruit}")

0-date
1-banana
2-cherry
3-apple

In [21]:
my_set.add('peach')
print(my_set)

{'apple', 'date', 'banana', 'cherry', 'peach'}

In [23]:
my_set.remove('apple')
print(my_set)

{'date', 'banana', 'cherry', 'peach'}

In [33]:
m=input('What will you remove?')
if m in my_set:
    my_set.remove(m)
    print(f'element {m} is removed from set')
else:
    print('Set does not include such element!')

print(f'Reamained part of set is {my_set}')

element apple is removed from set
Reamained part of set is {'date', 'banana', 'cherry'}