In [1]:
import pandas as pd
import numpy as np


data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)


df.rename(columns=lambda x: x.lower().replace(" ", "_"), inplace=True)


print("First 3 rows of DataFrame:")
print(df.head(3))


mean_age = df['age'].mean()
print("\nMean age:", mean_age)

print("\nSelected columns (first_name and city):")
print(df[['first_name', 'city']])


np.random.seed(0) 
df['salary'] = np.random.randint(50000, 100000, size=len(df))

print("\nSummary statistics:")
print(df.describe())

First 3 rows of DataFrame:
  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

Mean age: 32.5

Selected columns (first_name and city):
  first_name           city
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

Summary statistics:
             age        salary
count   4.000000      4.000000
mean   32.500000  83700.750000
std     6.454972  20691.679171
min    25.000000  52732.000000
25%    28.750000  82642.750000
50%    32.500000  93090.000000
75%    36.250000  94148.000000
max    40.000000  95891.000000

In [2]:
import pandas as pd

data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data)


max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()
print("Maximum Sales:", max_sales)
print("Maximum Expenses:", max_expenses)


min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()
print("\nMinimum Sales:", min_sales)
print("Minimum Expenses:", min_expenses)

avg_sales = sales_and_expenses['Sales'].mean()
avg_expenses = sales_and_expenses['Expenses'].mean()
print("\nAverage Sales:", avg_sales)
print("Average Expenses:", avg_expenses)

Maximum Sales: 8000
Maximum Expenses: 4500

Minimum Sales: 5000
Minimum Expenses: 3000

Average Sales: 6625.0
Average Expenses: 3750.0

In [3]:
import pandas as pd

data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

expenses = expenses.set_index('Category')


max_expenses = expenses.max(axis=1)
print("Maximum expense per category:")
print(max_expenses)


min_expenses = expenses.min(axis=1)
print("\nMinimum expense per category:")
print(min_expenses)


avg_expenses = expenses.mean(axis=1)
print("\nAverage expense per category:")
print(avg_expenses)

Maximum expense per category:
Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

Minimum expense per category:
Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

Average expense per category:
Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64